body{
    margin: 0;
}
img{
    max-width: 100%;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 2%;
}
p {
    font-family: system-ui;
    color: gray;
}
section {
    padding: 2% 0;
}

/* header section */

.header-and-banner {
    background: #fff4e7;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo h1 {
    font-size: 39px;
    font-weight: 500;
    font-family: fantasy;
    margin: 0;
    letter-spacing: 2px;
}

.header-menu ul {
    display: flex;
    padding: 0px;
}
.header-menu ul li {
    list-style: none;
}
.header-menu ul li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

/* banner content */
.banner-content {
    padding: 4% 0;
    margin-top: 2%;
    text-align: center;
}
.banner-title {
    font-size: 66px;
    font-family: system-ui;
    font-weight: 800;
    width: 50%;
    margin: 0 auto;
}
.banner-content p {
    width: 58%;
    margin: 3% auto;
}
.common-btn {
    padding: 17px 27px;
    background: #ff900e;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
}

/* features section */

.feature-content {
    display: flex;
    gap: 4%;
    align-items: center;
}
.feature-img {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
}
.feature-text {
    flex: 1;
}
.feature-text h1 {
    font-size: 48px;
    font-weight: 700;
}
.quick-list {
    color: #727272;
    font-family: cursive;
}
.orange-Features {
    color: #ff900e;
    display: block;
}
.feature-text p {
    width: 83%;
    line-height: 30px;
    margin: 5% 0;
}

/* experience section */

.experience-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 6%;
    position: relative;
    align-items: center;
}
.experience-box {
    box-shadow: 0px 0px 21px rgba(211, 211, 211, .5);
    padding: 4%;
    border-radius: 7px;
    margin: 4% 0;
}
.experience-box h4 {
    font-size: 21px;
    margin: 0;
}
.sec-title {
    font-size: 42px;
    font-family: system-ui;
    font-weight: 800;
}
.experience-title h1 {
    display: inline-block;
    width: 70%;
    margin: 0;
}
.orange-height {
    width: 5px;
    height: 85px;
    display: inline-block;
    background: #ff900e;
    border-radius: 4px;
    margin-right: 3%;
}
.experience-title p {
    line-height: 28px;
}

.experience-btn {
    position: absolute;
    bottom: 2%;
    left: 49%;
    font-size: 43px;
    padding: 30px 45px;
}
.experience-btn h5 {
    margin: 0;
    font-size: 16px;
}

/* facts section */


.facts-text p {
    width: 38%;
}

.facts-item-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 5%;
    gap: 5%;
}
.facts-item-content {
    border: 1px solid #ff900e;
    margin: 0 auto;
    text-align: center;
    padding: 8%;
    box-sizing: border-box;
    border-radius: 6px;
    transition: .5s;
}

.facts-item-content h1 {
    font-size: 26px;
    font-family: system-ui;
    font-weight: 800;
}
.facts-item-content h5 {
    font-size: 16px;
    font-family: system-ui;
    margin-bottom: 10px;
}

.facts-item-content:hover{
    transform: scale(1.1,1.1);
    background: #ff900e;
    color: #fff;
}

/* our-works section */

.work-item-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10%;
}

.work-title h1 {
    text-align: center;
    margin-bottom: 5%;
}

/* sponsor section */
.sponsorers-logo {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

/* footer section */

footer {
    background: #fff4e7;
    padding: 4% 0;
}

footer p {
    text-align: center;
    font-size: 22px;
    margin: 0;
}






















/* responsive section */

@media (max-width:768px){

}


/* responsive break point 1100px */

@media (max-width:1100px){
    .experience-title h1 {
        width: 95%;
    }
}


/* responsive break point 1010px */

@media (max-width:1010px){
    .experience-title h1 {
        width: 90%;
    }
}


/* responsive break point 992px */

@media (max-width:992px){
    .experience-content {
        grid-template-columns: 1fr;
        gap: 2%;
    }
    .orange-height {
        display: none;
    }
    .experience-title h1 {
        width: 100%;
        text-align: center;
    }
    .experience-title p {
        width: 80%;
        margin: 2% auto;
        text-align: center;
    }
    .experience-box-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 22px;
    }
    .experience-box {
        margin: 3% 0;
    }

    .experience-content-img {
        text-align: center;
    }

    .experience-btn {
        position: inherit;
        width: fit-content;
        font-size: 20px;
        padding: 20px 30px;
    }
    .experience-btn h5 {
        display: inline-block;
    }
    .experience-btn-container {
        text-align: center;
    }

    section.facts {
        margin-top: 8%;
    }

    .facts-text p {
        width: 50%;
        margin: 0 auto;
    }
    .facts-text {
        text-align: center;
    }

}




/* responsive break point 768px */

@media (max-width:768px){
    .header-logo h1 {
        font-size: 30px;
        letter-spacing: inherit;
    }
    .header-menu ul li a {
        padding: 0 10px;
        font-size: 14px;
    }
    .banner-title {
        width: 100%;
        font-size: 50px;
    }
    .banner-content p {
        width: 90%;
    }
    
    .feature-content {
        flex-direction: column-reverse;
        row-gap: 15px;
    }

    .experience-box-container {
        grid-template-columns: 1fr;
    }

    .facts-item-container {
        grid-template-columns: repeat(2,1fr);
    }

    .work-item-container {
        grid-template-columns: 1fr;
    }

    .work-item-text {
        width: 90%;
        margin: 0 auto;
    }
    section.our-work {
        margin-bottom: 15%;
    }
    
}


/* responsive break point 576px */

@media (max-width:576px){
    .banner-title {
        font-size: 36px;
    }
    .header-content {
        flex-direction: column;
        align-items: start;
    }
    .header-menu ul {
        flex-direction: column;
        gap: 10px;
    }
    .feature-img {
        grid-template-columns: 1fr;
        width: 90%;
    }
    .feature-img-item img {
        width: 100%;
    }
    .feature-text {
        width: 90%;
        margin-bottom: 6%;
    }

    .experience {
        margin-top: 120px;
    }
    .experience-title h1 {
        font-size: 30px;
        margin: 3% 0 !important;
    }

    .facts-item-container {
        grid-template-columns: 1fr;
    }

    .facts-item-content {
        width: 60%;
    }

    .facts-text p {
        width: 60%;
    }

    .sponsor-logo {
        grid-template-columns: 1fr;
        gap: 20%;
    }

    section.sponsor {
        margin-top: 24%;
    }

    footer {
        margin-top: 40%;
    }

    section.facts {
        margin-bottom: 25%;
    }
}